<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.goibibo.Web.Goibibo_Desktop1.Dom_Hotel"/>
      <class name="com.goibibo.Web.Goibibo_Desktop1.Train_Vertical"/>
      <class name="com.goibibo.Web.Goibibo_Desktop1.Car_Vertical"/>
      <class name="com.goibibo.Web.Goibibo_Desktop1.International_Hotel"/>
      <class name="com.goibibo.Web.Goibibo_Desktop1.Bus_Vertical"/>
 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
